.list .item {
  list-style: none;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  width: 300px;
  position: relative;
}

.list .item .img {
  margin-right: 10px;
}

.list .item .btn {
  position: absolute;
  right: 10px;
}
